langchain
langchain-core
langchain-community
langchain-chroma
chromadb

langchain-huggingface
sentence-transformers
huggingface-hub

langchain-google-genai

python-dotenv

pypdf
llama-parse
rank_bm25

streamlit
